.learn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    height: 100%;
}

.learn-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}


.course-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
}

.course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.course-card h2 {
    font-size: 1.8rem;
    color: #007BFF;
    margin-bottom: 10px;
}

.course-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
}


.course-card h4 {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 5px;
}


.course-card p.module-details {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}


.course-card .certifica {
    font-size: 1.1rem;
    color: #333;
    margin-top: 15px;
}


.course-card button {
    background-color: #1D568F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.course-card button:hover {
    background-color: #0d47a1;
}

.course-card p.no-module {
    font-style: italic;
    color: #999;
}